.carrito{
    color:white;
    position: absolute;
    top: 147px;
    right: 30px;
}

span{
    font-family: 'Anek Latin', sans-serif;
    position: absolute;
    top: 144px;
    right: 15px;
    background-color: #cad2c5;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: solid 2px #2f3e46;
    color: black;
    font-weight: 600;
}

