.styleBody{
    display: grid;
    place-content: center;
    font-size: 40px;
}

.linksCategory{
    grid-area: linksCategory;
    margin: 0px;
}

.linksCategory li{
    margin: 0px 15px;
    list-style-type: none;
    font-family: 'Anek Latin', sans-serif;
    font-size: 14px;
}

.PruebaGrid{
    display: grid;
    grid-template-areas: 
    'linksCategory pruebaFlex';
    grid-template-columns: 1fr 11fr;
    
}

.pruebaFlex{
    display: flex;
    justify-content:center;
    grid-area: pruebaFlex;
}