.styleMainWeb{
    display: grid;
    grid-template-areas: 
    'linksCategory pruebaFlex';
    grid-template-columns: 1fr 11fr;
    background-image: url("https://i.ibb.co/XXHkR53/navbar.png");
}

.linksCategory{
    grid-area: linksCategory;
    margin: 0px;
    border-right: double 4px black;
    font-family: 'Anek Latin', sans-serif;
}

.linksCategory li{
    margin: 0px 15px;
    list-style-type: disc;
    font-size: 14px;
}

.linksCategory li:hover{
    text-decoration: none;
    color:red;
}

linksCategory Link:hover{
    color:blue;
}

.styleMainBooks{
    display: flex;
    justify-content:center;
    grid-area: pruebaFlex;
}