.cardBook{
    margin-left: 10%;
    width: 200px;
    padding: 10px;
    border: 4px double #4c394e;
    border-top-left-radius: 30px;;
    border-bottom-right-radius: 30px;;
}
.titleBook{
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}

.author{
    font-size: 14px;
    font-style: italic;
    margin: 0px;
}

.pictureBook{
    margin: 20px;;
}

.stockBook{
    margin: 10px 0px 5px 0px;
    font-size: 13px;
}

.priceBook{
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.detailProduct{
    margin-top: 5px;
    border: none;
    color: black;
    background-color: #beaed3;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    
}

.detailProduct:hover{
    background-color: #957897;
    color: white;
}

/* .quantity{
    margin: 0px;
    font-size: 14px;
}

.quantitySelected{
    margin: 10px 100px;
} */

