.cardBook{
    width: 220px;
    padding: 10px;
    border: 3px solid #4c394e;
    border-top-left-radius: 30px;;
    border-bottom-right-radius: 30px;
    background-color: #a7bea9;
    box-shadow: 0px 0px 10px;
}
.titleBook{
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}

.author{
    font-size: 14px;
    font-style: italic;
    margin: 0px;
}

.pictureBook{
    margin: 5px 20px;
    height: 260px;
}

.priceBook{
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    margin: 0px;
}

.detailProduct{
    margin-top: 5px;
    border: none;
    background-color: #354f52;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
}

.detailProduct:hover{
    background-color: #52796f;
    color: white;
}

.detailProduct1{
    text-decoration: none;
    color: white;
}

.detailProduct1:hover{
    color: white;
}