.styleFontCheckout{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 3% 30%;
    /* border: solid 1px; */
    /* height:50px; */
    /* width:50%; */
    /* background-color: blue; */
    /* border: solid 1px; */
    /* border-radius: 25px; */
    font-family: 'Anek Latin', sans-serif;
}

.prueba3{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
}

.textCheckout{
    margin: 10px 0px 0px 0px;
}

.inputprueba{
    width: 140%;
    margin: 5px 10px;
    padding: 10px;
    font-family: 'Anek Latin', sans-serif;
    border: solid 1px;
    border-radius: 5px;
}


.styleButtonCheckout{
    font-family: 'Anek Latin', sans-serif;
    border: none;
    color: black;
    background-color: #beaed3;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    width: 50%;
}

.styleButtonCheckout:hover{
    background-color: #957897;
    color: white;
}