.styleFontCheckout{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 3% 30%;
    font-family: 'Anek Latin', sans-serif;
    font-size: 1.1rem;
}

.styleFontCheckout2{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 3% 30%;
    font-family: 'Anek Latin', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #354f52;
}

.styleForm{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
}

.textCheckout{
    margin: 10px 0px 0px 0px;
}

.styleInput{
    width: 140%;
    margin: 5px 10px;
    padding: 10px;
    font-family: 'Anek Latin', sans-serif;
    border: solid 1px;
    border-radius: 5px;
}

.styleButtonCheckout{
    font-family: 'Anek Latin', sans-serif;
    border: none;
    background-color: #354f52;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    width: 50%;
}

.styleButtonCheckout:hover{
    background-color: #3c6e71;
    color: white;
    cursor: pointer;
}

.returnMain{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 50px 0px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: #3c6e71;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) and (min-width: 301px){
    .styleFontCheckout{
        margin: 5%;
        font-size: 1rem;
    }

    .styleFontCheckout2{
        margin: 3% 30%;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .returnMain{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 300px){
    .styleFontCheckout{
        margin: 1%;
        font-size: 1rem;
    }

    .styleFontCheckout2{
        margin: 3% 30%;
        font-size: 1rem;
        font-weight: 600;
    }

    .returnMain{
        font-size: 1rem;
    }
    .styleInput{
        width: 90%;
        margin: 5px 0px;
        padding: 10px;
        font-family: 'Anek Latin', sans-serif;
        border: solid 1px;
        border-radius: 5px;
    }
}