.style{
    background-color: #354f52;
    height: 140px;
    background-image: url("https://i.ibb.co/XXHkR53/navbar.png");
    background-size: 17rem;
}

.styleFontLogo{
    color: white;
    font-family: 'Anek Latin', sans-serif;
    display: grid;
    grid-template-areas: 
    'styleWebTitle';
    grid-template-columns: 12fr;
    justify-items: center;
}

.styleWebTitle{
    color: #e8edec;
    grid-area: styleWebTitle;
    align-self: center;
    font-size: 5rem;
    font-weight: 600;
    margin: 0px;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.barLinks{
    height: 40px;
    background-color: #2f3e46;
    border-top: solid 3px #cad2c5;
    border-bottom: solid 3px #cad2c5;
}

.linkPages{
    margin-left: 40px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 7px
}

.linkPages a{
    text-decoration: none;
    margin-right: 30px;
    color: white;

}

.linkPages a:hover{
    text-decoration: underline;
    color: #cad2c5;
    font-style: italic;
    text-decoration: none;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) and (min-width: 761px){
    .styleWebTitle{
        font-size: 4rem;
    }
}

@media only screen and (max-width: 760px) and (min-width: 321px){
    .styleWebTitle{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 320px){
    .styleWebTitle{
        font-size: 1.5rem;
    }
}