.style{
    background-color: #4c394e;
    height: 140px;
    /* background-image: url("https://i.ibb.co/XXHkR53/navbar.png");
    background-size: 17rem; */
}

.styleFontLogo{
    color: white;
    font-family: 'Anek Latin', sans-serif;
    display: grid;
    grid-template-areas: 
    'styleLogo styleWebTitle';
    grid-template-columns: 4fr 8fr;
}

.styleFontLogo p{
    margin: -20px;
}

.styleLogo{
    grid-area: styleLogo;
    color: black;
}

.styleWebTitle{
    grid-area: styleWebTitle;
    align-self: center;
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgb(40, 19, 46);
    /* text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black */
}

.barLinks{
    height: 40px;
    background-color: #04052e;
}

.linkPages{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 7px
}

.linkPages a{
    text-decoration: none;
    margin-right: 30px;
    color: white;

}

.linkPages a:hover{
    text-decoration: underline;
    color: rgb(190, 109, 190);
}