.topNav{
    margin-top: 10px;
}

.style{
    background-color: #4c394e;
    height: 100px;
}

.styleFontLogo{
    font-size: 40px;
    color: white;
    font-family: 'Anek Latin', sans-serif;
}

.styleFontLogo p{
    margin: -20px;
}

.formatContent{
    display: flex;
    justify-content: space-between;
}

.linkPages{
    color: white;
    display: flex;
    align-items: flex-end;
    font-size: 15px;
}

.linkPages a{
    text-decoration: none;
    margin-right: 30px;
    color: white;

}

.linkPages a:hover{
    text-decoration: underline;
    color: rgb(190, 109, 190);
}
